{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}

<style>
  form {text-align: center;}

  </style>


<h2>Log In</h2>


<h2>Github</h2>

<p><a href="{% provider_login_url 'github' %}" >Continue with Google </a></p>
<p><a href="{% provider_login_url 'github' %}" >Continue with Facebook </a></p>
<p><a href="{% provider_login_url 'github' %}" >Continue with Apple</a></p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>

</form>


{% endblock content %}
