{% extends 'base.html' %}
{% load static %}

{% block content %}


<center><img src="{% static 'img/cover1.jpg' %}"></center>

<br>
<br>
<hr>
<h1 style="text-align:center">Why Choose Us</h1>
<br/>
<br/>
<div class="roww">
  <div class="columnn2">
    <div class="cardd">
      <img class="rounded-circle" src="{% static 'img/knowledge.jpg' %}" width="140" ;height="140">

      <p>From Beginner to Professional.</p>
    </div>
  </div>

  <div class="columnn2">
    <div class="cardd">
      <img class="rounded-circle mx-auto" src="{% static 'img/knowledge1.jpg' %}" width="140" height="140">

      <p>Improve your knowledge.</p>
    </div>
  </div>

  <div class="columnn2">
    <div class="cardd">
      <img class="rounded-circle" src="{% static 'img/learneverywhere.png' %}" width="140" height="140">

      <p>Learn everywhere.</p>
    </div>
  </div>

</div>
  <br/>
  <br/>
  <br/>
	<h1 style="text-align:center">Developed By</h1>

	<br>
	<br>
	<div class="roww">
		<div class="columnn">
			<div class="cardd">
				<img src="{% static 'img/hoang1.png' %}" alt="Hoàng" height="200px" width="200px">
				<div class="containerr">
					<h7>Chương Việt Hoàng</h7>
					<p class="titlee">MSSV: 18120124</p>
					<p>18120124@student.hcmus.edu.vn</p>
					<a href="https://www.facebook.com/viethoang.chuong.3/">
						<p><button class="buttonn">Facebook</button></p>
					</a>
				</div>
			</div>
		</div>

		<div class="columnn">
			<div class="cardd">
				<img src="{% static 'img/minh1.png' %}" alt="Minh" height="200px" width="200px">
				<div class="containerr" background-color="white">
					<h7>Nguyễn Anh Minh</h7>
					<p class="titlee">MSSV: 18120137</p>
					<p>18120137@student.hcmus.edu.vn</p>
					<a href="https://www.facebook.com/minh.nguyenanh.58958">
						<p><button class="buttonn">Facebook</button></p>
					</a>
				</div>
			</div>
    </div>
    
    <div class="columnn">
			<div class="cardd">
				<img src="{% static 'img/tien.png' %}" alt="Tiến" height="200px" width="200px">
				<div class="containerr" background-color="white">
					<h7>Nguyễn Đăng Trung Tiến</h7>
					<p class="titlee">MSSV: 18120591</p>
					<p>18120591@student.hcmus.edu.vn</p>
					<a href="https://www.facebook.com/ndtrungtien/">
						<p><button class="buttonn">Facebook</button></p>
					</a>
				</div>
			</div>
    </div>
    
    <div class="columnn">
			<div class="cardd">
				<img src="{% static 'img/bao.png' %}" alt="Bảo" height="200px" width="200px">
				<div class="containerr" background-color="white">
					<h7>Trần Quốc Bảo</h7>
					<p class="titlee">MSSV: 18120111</p>
					<p>18120111@student.hcmus.edu.vn</p>
					<a href="https://www.facebook.com/profile.php?id=100009322992223">
						<p><button class="buttonn">Facebook</button></p>
					</a>
				</div>
			</div>
    </div>
    
    <div class="columnn">
			<div class="cardd">
				<img src="{% static 'img/huy.png' %}" alt="Huy" height="200px" width="200px">
				<div class="containerr" background-color="white">
					<h7>Trần Quang Huy</h7>
					<p class="titlee">MSSV: 18120183</p>
					<p>18120183@student.hcmus.edu.vn</p>
					<a href="https://www.facebook.com/huytrquang1103/">
						<p><button class="buttonn">Facebook</button></p>
					</a>
				</div>
			</div>
		</div>
	</div>
  <center><img src="{% static 'img/fithcmus.jpg' %}" width="945px" height="281px"></center>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}

</script>}


{% block domready %}

$('.customer-logos').slick({
       slidesToShow: 6,
       slidesToScroll: 1,
       autoplay: true,
       autoplaySpeed: 1500,
       arrows: false,
       dots: false,
       pauseOnHover: false,
       responsive: [{
           breakpoint: 768,
           settings: {
               slidesToShow: 4
           }
       }, {
           breakpoint: 520,
           settings: {
               slidesToShow: 3
           }
       }]
   });

{% endblock %}
